body {
  margin: 0;
  overflow: hidden;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

canvas {
  position: absolute;
}
svg {
  position: absolute;
  display: none;
}
.btn{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;

  padding: 10px 20px;
  background: rgba(red, green, blue, alpha);
  color: aqua;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #00f3ff;
  border-radius: 30px;
  box-shadow: 0 0 10px #00f3ff;
  transition: 0.3s;
}
